@model LoggedOutViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;
@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    ViewData["DisableNavHeader"] = false;
    ViewData["DisableNavFooter"] = true;
    ViewData["Title"] = "Signed out";
    var defaultURL = _configuration["DEFAULT_APP"];
}



<div class="content-body" style="max-width: 500px; align-self: center;">
    <div style="align-items: center; text-align: center; display: flex; flex-direction: column">
        

        <div class="bordered-card" style="text-align: center; display: flex; flex-direction: column; margin-top: 20px; flex-grow: 1;  align-self: stretch; place-content: flex-start; justify-content: flex-start;">
            <div style="text-align: center">
                <span style="font-weight: 500; font-size: 14px">
                    Sign out
                </span>

            </div>
            <div style="margin-top: 20px; font-size: 15px;">
                <p>
                    You have been signed out of your account.
                </p>
            </div>
            @if (Model.PostLogoutRedirectUri != null)
            {
                <div>
                    @if (Model.ClientName.Contains("Global Health Way"))
                    {
                        <a class="PostLogoutRedirectUri btn" href="@Model.PostLogoutRedirectUri" style="color: green;">Return to  <span>@Model.ClientName</span> </a>
                    }
                    else
                    {
                        <a class="PostLogoutRedirectUri btn" href="@Model.PostLogoutRedirectUri">Return to  <span>@Model.ClientName</span> </a>
                    }

                </div>
            }
            @if (Model.SignOutIframeUrl != null)
            {
                <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
            }
            @if (Model.PostLogoutRedirectUri == null && Model.SignOutIframeUrl == null)
            {
                <div>
                    <a class="PostLogoutRedirectUri btn" href="~/">Return to home</a>
                </div>
            }
        </div>
    </div>
</div>






@section scripts
    {
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
